/* Paleta */
:root {
    --pastel: #cbedca;
    --white: #ffffffd1;
    --black: #000000;
    --vino: #1aa31a;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: url("pics/tie02.jpg") no-repeat center center fixed;
    background-size: cover;
    color: var(--black);
}


header {
    background-color: #3fac76;
    color: var(--white);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 1.2rem;
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

/* Menu responsivo */
.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #75e788
}



section {
    padding: 2rem;
    background-color: var(--white);
    margin: 1rem;
    border-radius: 8px;
}

section h2 {
    color: var(--vino);
}

footer {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.galeria {
    display: grid;
    gap: 1rem;
    margin-top: 1rem;
}

.galeria img {
    width: 50%;
    aspect-ratio: 1 / 1;
    /* Mantém formato quadrado */
    object-fit: cover;
    /* Corta a imagem sem distorcer */
    border-radius: 40%;
    /* Bordas quase circulares */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: auto;
}

.galeria img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.kit {
    display: grid;
    gap: 1rem;
    margin-top: 1rem;
}

.kit img {
    width: 100%;
    aspect-ratio: 2 / 1;
    /* Mantém formato quadrado */
    object-fit: cover;
    /* Corta a imagem sem distorcer */
    border-radius: 5%;
    /* Bordas quase circulares */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: auto;
}

.kit img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    nav {
        display: none;
        flex-direction: column;
        background-color: var(--vino);
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 1rem;
    }

    nav.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

}

@media (min-width: 1024px) {
    .galeria img {
        width: 30%;
    }
}